# Ex1 - Filtering and Sorting Data

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
pd.read_csv(url, sep = '\t')

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = pd.read_csv(url, sep = '\t')

### Step 4. How many products cost more than $10.00?

In [4]:
chipo.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [5]:
chipo['item_price'] = chipo['item_price'].map(lambda x: x.lstrip('$'))
chipo['item_price'] = chipo['item_price'].map(lambda x: x.lstrip(' '))
print(chipo['item_price'])
chipo

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
         ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: object

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [9]:
chipo = chipo.astype({"item_price":float})
chipo.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

In [40]:
overten = chipo.loc[chipo["item_price"] > 10]
clean = overten.item_name.drop_duplicates()
len(clean)
clean.head(31)                  #no lo consigo : -(

4                       Chicken Bowl
7                      Steak Burrito
23                   Chicken Burrito
39                     Barbacoa Bowl
57                    Veggie Burrito
62                       Veggie Bowl
79                Chicken Soft Tacos
90                        Steak Bowl
93                  Carnitas Burrito
97                     Carnitas Bowl
130                 Barbacoa Burrito
135               Chicken Salad Bowl
168            Barbacoa Crispy Tacos
186                Veggie Salad Bowl
217             Chicken Crispy Tacos
250                    Chicken Salad
281                 Steak Salad Bowl
445                             Bowl
738                Veggie Soft Tacos
988              Barbacoa Soft Tacos
1008           Carnitas Crispy Tacos
1132             Carnitas Salad Bowl
1229             Barbacoa Salad Bowl
1257    Chips and Fresh Tomato Salsa
1353                Steak Soft Tacos
1963             Carnitas Soft Tacos
2231              Steak Crispy Tacos
2645             Chips and Guacamole
3389               6 Pack Soft Drink
3599                   Bottled Water
3887                   Side of Chips
Name: item_name, dtype: object

In [ ]:
# clean the item_price column and transform it in a float


# reassign the column with the cleaned prices


# delete the duplicates in item_name and quantity


# select only the products with quantity equals to 1

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [ ]:
# delete the duplicates in item_name and quantity


# select only the products with quantity equals to 1


# select only the item_name and item_price columns


# sort the values from the most to less expensive

### Step 6. Sort by the name of the item

In [43]:
q = chipo.sort_values("item_price")

# OR

### Step 7. What was the quantity of the most expensive item ordered?

In [44]:
q.max()

order_id                   1834
quantity                     15
item_name     Veggie Soft Tacos
item_price                44.25
dtype: object

### Step 8. How many times was a Veggie Salad Bowl ordered?

### Step 9. How many times did someone order more than one Canned Soda?