In [1]:
import sys
import pickle
import numpy as np
import pandas as pd
%matplotlib inline
import seaborn as sns
from scipy import stats
import matplotlib.pyplot as plt
sys.path.append('C:\\DATA_SCIENCE')
from sklearn import linear_model
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline, Pipeline
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, r2_score, mean_squared_error
from sklearn.preprocessing import LabelEncoder, StandardScaler, OneHotEncoder, RobustScaler, Normalizer, PolynomialFeatures
from LIBRARY.Libreria_Folders_DVG import *
from LIBRARY.Libreria_Pandas_DVG import *
from LIBRARY.Libreria_ML_DVG import *
from LIBRARY.Libreria_Maths_DVG import *

In [2]:
df = barr_add('C:\DATA_SCIENCE\MACHINE_LEARNING\Competition_Kaggle_05_02_21\diamonds_train.csv')

In [3]:
df= pd.read_csv(df)

In [4]:
df

,Unnamed: 0,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,1.21,Ideal,H,VS2,63.0,57.0,6.73,6.70,4.23,6134
1,1,0.28,Very Good,D,VVS2,64.0,56.0,4.14,4.17,2.66,532
2,2,0.42,Premium,F,VS1,61.2,58.0,4.86,4.82,2.96,1103
3,3,0.26,Ideal,H,IF,61.1,57.0,4.16,4.12,2.53,600
4,4,1.10,Good,G,SI1,63.4,57.0,6.52,6.55,4.14,4997
...,...,...,...,...,...,...,...,...,...,...,...
40340,40340,1.55,Premium,H,VS2,61.3,61.0,7.46,7.39,4.55,11708
40341,40341,0.36,Ideal,D,SI1,60.6,56.0,4.58,4.63,2.79,619
40342,40342,0.57,Very Good,I,VS2,62.2,55.0,5.33,5.34,3.32,1267
40343,40343,1.01,Very Good,F,IF,59.6,62.0,6.47,6.56,3.88,9965
40344,40344,0.54,Ideal,E,SI2,60.4,57.0,5.33,5.27,3.20,1340

In [5]:
lgr = LinearRegression(n_jobs=-2)

In [6]:
encoder(df, ['cut', 'color', 'clarity'])

In [7]:
X = np.array(df[df.columns.difference(['Unnamed: 0', 'price'])])
y = np.array(df['price'])

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2, random_state=343)

In [9]:
lgr.fit(X_train, y_train)

LinearRegression(n_jobs=-2)

In [10]:
y_pred = lgr.predict(X_test)

In [11]:
print('RMSE:',mean_squared_error(y_test, y_pred, squared=False))

RMSE: 1365.7283730741442

In [12]:
pickle.dump(lgr, open('lgrLE.sav', 'wb'))

In [13]:
to_pred = pd.read_csv("diamonds_test.csv")

In [14]:
encoder(to_pred, ['cut', 'color', 'clarity'])

In [15]:
X2 = np.array(to_pred[to_pred.columns.difference(['Unnamed: 0', 'price'])])

In [16]:
predictions_submit = lgr.predict(X2)

In [17]:
submission = pd.DataFrame({"id": to_pred["Unnamed: 0"], "price": predictions_submit})
submission

          id         price
0          0   -278.198300
1          1    133.348438
2          2  10282.998038
3          3    150.361857
4          4   9362.772064
...      ...           ...
13444  13444   6093.573589
13445  13445    118.639298
13446  13446  10737.571748
13447  13447  11420.732609
13448  13448   1255.726621

[13449 rows x 2 columns]

In [18]:
sample = pd.read_csv("sample_submission.csv")

In [19]:
if submission.shape == sample.shape:
    if submission.columns.all() == sample.columns.all():
        if submission.id.all() == sample.id.all():
            print("you're ready to submit!")
            submission.to_csv("to_submit2.csv", index = False)

you're ready to submit!

In [20]:
"""x = np.array([5, 8 , 12, 15])         

#Using Sklearn
normalizer_x = preprocessing.Normalizer(norm = "l2").fit(x)
x_norm = normalizer_x.transform(x)[0]
print x_norm

>array([ 0.23363466,  0.37381545,  0.56072318,  0.70090397])""" #NORMALIZE-----------------

'x = np.array([5, 8 , 12, 15])         \n\n#Using Sklearn\nnormalizer_x = preprocessing.Normalizer(norm = "l2").fit(x)\nx_norm = normalizer_x.transform(x)[0]\nprint x_norm\n\n>array([ 0.23363466,  0.37381545,  0.56072318,  0.70090397])'

In [21]:
"""#Manually
w = np.sqrt(sum(x**2))
x_norm2 = x/w
print x_norm2

>array([ 0.23363466,  0.37381545,  0.56072318,  0.70090397])""" #MANUAL NORMALIZE----------------

"""So turning them "back" to the raw formate is simple by multiplying with "w".""" # UNDO NORMALIZE--------------------------

'So turning them "back" to the raw formate is simple by multiplying with "w".'